function PongGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 32
call Racket.new 3
pop this 0
push constant 485
push constant 0
push constant 32
call Racket.new 3
pop this 1
push constant 96
push constant 240
push constant 320
push constant 10
call Table.new 4
pop this 2
push constant 256
push constant 128
push constant 10
push this 0
push this 1
push this 2
call Sphere.new 6
pop this 3
push constant 224
push constant 224
push constant 32
add
push constant 0
call Score.new 3
pop this 4
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Racket.dispose 1
pop temp 0
push this 1
call Racket.dispose 1
pop temp 0
push this 2
call Table.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 87
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Racket.moveUp 1
pop temp 0
label IF_FALSE0
push local 0
push constant 83
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Racket.moveDown 1
pop temp 0
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Racket.moveUp 1
pop temp 0
label IF_FALSE2
push local 0
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Racket.moveDown 1
pop temp 0
label IF_FALSE3
push local 0
push constant 81
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 1
label IF_FALSE4
push this 3
call Sphere.doLogic 1
pop temp 0
push this 3
call Sphere.getY 1
push constant 32
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 4
call Score.draw 1
pop temp 0
label IF_FALSE5
push this 3
push this 3
call Sphere.getX 1
push this 3
call Sphere.getY 1
push constant 1
call Sphere.outOfLeft 4
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 4
push constant 1
call Score.rescore 2
pop temp 0
label IF_FALSE6
push this 3
push this 3
call Sphere.getX 1
push this 3
call Sphere.getY 1
push constant 1
call Sphere.outOfRight 4
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 4
push constant 0
call Score.rescore 2
pop temp 0
label IF_FALSE7
push this 4
call Score.getExit 1
pop local 1
push constant 5
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
